body{
    /* Landing page - 1 */
    position: relative;
    padding: 0;
    margin: 0;
    /* width: 1920px;
    height: 1080px; */
    background: hsl(259, 100%, 36%);
    font-family: 'proxima-nova', Arial, sans-serif;
}
.header{
    height: 80px;
    width: 100vw;
    /* border-bottom: 2px solid #C5CCF0; */
    background: #FFFFFF;
}
.header .logo{
    margin: 0 0 0 15px;
    float: left;
}
.header .menu{
    float: right;
    margin: 0 0px;
}
.header .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.header .menu ul li{
    display: inline-block;
}
.header .menu ul li a{
    text-decoration: none;
    color: #000;
    line-height: 80px;
    padding: 0;
    margin: 0 20px;
    font-size: 30px;
    font-weight: 700;
}
.separator{
    /* height: 9px; */
}
.container{
    background: #3B00B7;
    padding: 20px;
}
.container .content{
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.container .content .text-content{
    width: 90%;
    height: 100%;
    background: #eeeeee;
    padding: 30px;
    border-radius: 30px;
    z-index: 2;
}
.content .text-content .text{
    display: none;
}
.content .text-content .home{
    display: block;
}

#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#specs:checked ~ .text-content .specs,
#code:checked ~ .text-content .code{
    display: block;
}
/* #home:checked ~ .text-content .home, */
#blog:checked ~ .text-content .home,
#specs:checked ~ .text-content .home,
#code:checked ~ .text-content .home{
    display: none;
}

.content .text-content p{
    text-align: justify;
}
.content .text-content .title{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0;
}
.container .content .list{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
    width: 10%;
}
.text-content .img-content{
    width: 100%;
}
.content .list label{
    /* height: 40px; */
    /* background: rgb(255, 255, 255); */
    font-size: 22px;
    font-weight: 600;
    color: #FFF;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    line-height: 40px;
    z-index: 12;
    /* transition: all 0.4s ease; */
}
.content .indicator{
    height: 70px;
    width: 120%;
    left: 0;
    top: 0;
    margin: 0 0 0 -5px;
    position: absolute;
    background: #eeeeee;
    z-index: 1;
    border-radius: 20px;
    transition: all 0.2s ease;
}
.content .list label:hover{
    color: #8368c3;
}
#home:checked ~ .list .home,
#blog:checked ~ .list .blog,
#specs:checked ~ .list .specs,
#code:checked ~ .list .code{
    color: #3B00B7;
}

#home:checked ~ .list .indicator{
    top: 5px;
    /* width: 49%; */
}
#blog:checked ~ .list .indicator{
    top: 85px;
    /* width: 80%; */
}
#specs:checked ~ .list .indicator{
    top: 165px;
    /* width:50%; */
}
#code:checked ~ .list .indicator{
    top: 245px;
    /* width: 45%; */
}
.container input[type="radio"]{
    display: none;
}